<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

<audio></audio>

<div class="button fill-btn" onclick="Upload()">
    BUTTON
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script>
    //importScripts("//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js");
    function t() {
        alert("2222d");
    }
    var socket;
    socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.emit('idxTest', i);
    var errorCallback = function(e) {
        console.log('Rejected', e);
    };
    var audioData = [];
    var preI, i = 0;
    var mediaRecorder;
    var audio;
    var chunkSize = 1000;
    function test(stream){
        socket.emit('idxTest', i);

        var options = {
            audioBitsPerSecond : 128000,
            mimeType: 'audio/webm'
        };
        mediaRecorder = new MediaRecorder(stream, options);
        mediaRecorder.onstart = function(e) {
            audioData = [];
        };
        
        mediaRecorder.ondataavailable = function(e) {
            audioData.push(e.data);
            console.log("PUSH");
            var sli = audioData.slice(0,i);
            console.log(sli);
            socket.emit('idxTest', i);
            var pre = new Blob(
                [e.data], {
                    'type':'audio/wav; codecs=0'       });
            console.log(pre);
            var data = {
                'idx':i,
                'data': pre,
                'BPS': mediaRecorder.audioBitsPerSecond
            };
            socket.emit('periodic', data 
            );
            
            i+=1;
        };
            
    
        console.log("test" + i);
        
        mediaRecorder.start(1000);
        
        setTimeout(function() {
            mediaRecorder.stop()
        }, 10000);
    };
    //setTimeout(function(){test()}, 2000);
    
    function Upload() {
    test(audio.srcObject);
    alert("22")
    periodic = setInterval(function() {
        console.log(i);
        
        console.log(audioData);
        /*var pre = new Blob(
            audioData, {
                'type':'audio/wav; codecs=opus'       });
        console.log(pre);
        
        //socket.emit('periodic', pre 
        //);
        socket.emit('idxTest', i);
        i = audioData.length;
        */
    }, 1000);
    
    logging = setInterval(function() {
        console.log(audio.srcObject);
    }, 1000);
    setTimeout(function() {
        clearInterval(periodic);
        clearInterval(logging);

    }, 5000);
    //document.addEventListener('DOMContentLoaded', function() {
    
    //})
    };
    navigator.getUserMedia({audio:true}, function (localMediaStream) {
        audio = document.querySelector('audio');
        audio.srcObject = localMediaStream;
        //audio.onloadedmetadata = function(e) {
            //audio.play();
        //};
    }, errorCallback);
</script>