<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

<audio></audio>

<div class="button fill-btn" onclick="Upload()">
    BUTTON
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script>
    //importScripts("//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js");
    var socket;
    socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.emit('idxTest', i);
    var errorCallback = function(e) {
        console.log('Rejected', e);
    };
    var audioData = [];
    var preI, i = 0;
    var mediaRecorder;
    var audio;
    var chunkSize = 1000;
    var timeslice = 1000; // 1000ms
    var endTime = 5000;
    var BPS = 128000;
    var endFlag = false;
    function initRecorder(stream) {
        var options = {
            audioBitsPerSecond : BPS,
            mimeType: 'audio/webm'
        };
        mediaRecorder = new MediaRecorder(stream, options);
        mediaRecorder.onstart = function(e) {
            audioData = [];
            console.log("Start");
            
        };
        
        mediaRecorder.ondataavailable = function(e) {
            audioData.push(e.data);
            
            console.log("PUSH");           
            
            i+=1;
        };
        mediaRecorder.onstop = function(e) {
            console.log("End");
            
            socket.emit('idxTest', i);
            var pre = new Blob(
                audioData, {
                    'type':'audio/webm; codecs=opus'       });
            var data = {
                'idx':i,
                'data': pre,
                'BPS': mediaRecorder.audioBitsPerSecond
            };
            socket.emit('periodic', data 
            );
        };
    }
    function test(stream){
        i = 0;
        socket.emit('idxTest', i);
        console.log("test" + i);
        
        mediaRecorder.start();
        

    };
    //setTimeout(function(){test()}, 2000);
    
    function Upload() {
        initRecorder(audio.srcObject);
        periodic = setInterval(function() {
            if (endFlag) {
                console.log("ENDENDENDEND");
                
                mediaRecorder.stop();
                clearInterval(periodic);
            }
            if (mediaRecorder.state == "inactive"){
                mediaRecorder.start();
            }
            else {
                mediaRecorder.stop();
                mediaRecorder.start();
            }
        }, timeslice);
        
        logging = setInterval(function() {
            console.log(audio.srcObject);
        }, 1000);
        setTimeout(function() {
            //clearInterval(periodic);
            clearInterval(logging);
            endFlag = true;
        }, endTime);
        //document.addEventListener('DOMContentLoaded', function() {
        
        //})
    };
    navigator.getUserMedia({audio:true}, function (localMediaStream) {
        audio = document.querySelector('audio');
        audio.srcObject = localMediaStream;
        //audio.onloadedmetadata = function(e) {
            //audio.play();
        //};
    }, errorCallback);
</script>